.App {
  width: 100%;
  margin: 0 auto;
  max-width: 600px;
  background-color: var(--grey);
  border-radius: 10%;
  inset: 10% 0 0 0;
  transform: translate(0, 10%);
}

.screen {
  padding-top: 30px;
}

.screen_inner {
  margin: 35px 50px 25px;
}

.text_area {
  width: 100%;
  min-height: 140px;
  border-radius: 25px;
  background-color: var(--calc-screen);
  text-align: end;
  font-size: 70px;
  padding: 0 25px;
}

.cell {
  display: inline-block;
}

.numbers {
  background-color: var(--white);
  padding: 25px 60px 50px;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

.item,
.item_equals {
  width: 100px;
  height: 100px;
  background-color: var(--grey);
  box-shadow: 5px 5px 5px 0px var(--shadow);
  border-radius: 20px;
  position: relative;
  font-size: 60px;
  color: var(--white);
}

.item_equals {
  background-color: var(--red);
}

.item,
.item_equals {
  &:hover {
    cursor: pointer;
    opacity: .8;
  }
}